
html {
         height:100%;
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            height: 100px;
            background-color: yellow;

            padding-left: 10px;
            padding-right: 10px;
            
            img {
            }

            ul {
                display: flex;
                gap: 20px;

                li{
                    position: relative;
                    &:not(:last-child):after {
                        content:"⯁";
                        width: 40px;
                        height: 40px;
                        display: block;
                        position: absolute;
                        top:0px;
                        margin-left: 4px;
                        left: 100%;
                    }
                }
            }
        }
        main {
            display: flex;
            flex:1;
            aside{
                background-color: rebeccapurple;
                width: 30%;
                min-width: 150px;
                display: block;
            }
            section{
                nav {
                    ul {
                        display: flex;
                        li:not(:last-child):after {
                            content:" > ";
                        }
                    }
                }
                .llista_articles {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: stretch;
                    article {
                        width: 33%;
                        padding: 10px;
                        height: auto;
                        box-sizing: border-box;
                    }
                }
                article {
                    border:1px solid black;
                    padding: 10px;
                    display: flex;
                    img {
                        width: 30%;
                        padding: 10px;
                        object-fit: cover;  
                    }
                    overflow: hidden;
                }
            }
        }
        footer{
            height: 100px;
            gap:10%;
            padding: 10px;
            justify-content: center;
            background-color: lime;
            display: flex;
        }
    }

}
