html {
  height: 100%;
}
html body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: yellow;
  padding-left: 10px;
  padding-right: 10px;
}
html body header ul {
  display: flex;
  gap: 20px;
}
html body header ul li {
  position: relative;
}
html body header ul li:not(:last-child):after {
  content: "â¯";
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  margin-left: 4px;
  left: 100%;
}
html body main {
  display: flex;
}
html body main aside {
  background-color: rebeccapurple;
  width: 30%;
  min-width: 150px;
  display: block;
}
html body main section nav ul {
  display: flex;
}
html body main section nav ul li:not(:last-child):after {
  content: " > ";
}
html body main section div {
  display: flex;
  flex-wrap: wrap;
}
html body main section div article {
  width: 33%;
  padding: 10px;
  box-sizing: border-box;
}
html body footer {
  height: 100px;
  gap: 10%;
  padding: 10px;
  justify-content: center;
  background-color: lime;
  display: flex;
}
