
html {
         height:100%;
}

.capsa {
   
}

img {
    float:left;
}

.clipped {
    /*clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);*/
    shape-outside: url("side.webp");
}
